body{
    background-color: #D3E4CD;
}

h1{
    padding: 2rem 1.5rem;
    text-align: center;
    color: #2984a0;   
}

.operation{
    text-align: center;
}

.fur{
    text-decoration: none;
    color: #2984a0;
    margin: 2rem;
    padding: 2.5rem;
}